.flex{ display: flex }
.grow{ flex-grow:1 }

:host{ display: block }
:host([data-hidden]){ display: none }

::slotted([data-hidden]){ visibility: hidden }
:host([data-row-collapse]) ::slotted([data-hidden]){
  display: none !important;
}

.multipage-box-container{
  overflow: hidden;
  border: 1px solid;
}
#multipage-innerbox.grid{
  display: grid;
  grid-template-columns: repeat(var(--multipage-grid-columns,2),1fr);
}
#multipage-track-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5em
}
@keyframes animateUp{
  from{ transform: translateX(100%) }
  to{ transform: translateX(0px) }
}
@keyframes animateDown{
  from{ transform: translateX(-100%) }
  to{ transform: translateX(0px) }
}
#multipage-innerbox.animateUp{
  animation: 150ms ease-out animateUp;
}
#multipage-innerbox.animateDown{
  animation: 150ms ease-out animateDown;
}
#multipage-innerbox.finishing{
  animation: none;
  transition: transform 80ms linear
}