details,
details > div{
  padding-inline-start: var(--tree-row-indent);
  border-inline-start: 1px solid;
  margin-inline-start: 0.2em;
}
details > div{ white-space: pre-wrap }
details{
  background-image: linear-gradient(currentcolor,currentcolor);
  background-position-y: var(--tree-connector-position,0.65em);
  background-repeat: no-repeat;
  background-size: 1.1em 1px;
}
:host(.showInfo)::before{
  content: "data: [Object]"
}
:host(.showInfo[src])::before{
  content: "data: "attr(src)
}
:host(.showInfo[data-filename])::before{
  content: "data: "attr(data-filename)
}
details.focus{
  background: #ddd;
}  

details.root{
 padding-inline-start: 0.2em;
 border: none;
 background-image: none;
}
.root.droptarget{
  background: rgba(0,0,0,0.3);
  opacity: 0.7;
  box-shadow: inset 0 0 16px currentcolor;
}
summary.object::after{
  content: " - {...}";
  opacity: 0.6;
}
summary.circular{
  color: #a4b;
}
summary.array.circular::after{
  content: " - &[...]";
}
summary.object.circular::after{
  content: " - &{...}";
}
summary[data-label]::after{
  content: " - " attr(data-label);
  opacity: 0.6;
}
summary.array::after{
  content: " - ("attr(data-label)")[...]";
  opacity: 0.6;
}
summary.string[data-label]::after{
  content: " - \""attr(data-label)"\"";
}
summary{
  cursor: pointer;
  padding-block: var(--tree-row-padding,0px)
}
summary:hover{
  background-color: var(--tree-hover-background,#d3d);
}
details[id]{ transition: background-color 200ms sine }
details[id] > summary{ color: #449 }
